{% extends 'base.html.twig' %}

{% block title %}Festival - {{ festival.name }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class="mb-4 text-primary-emphasis">{{ festival.name }}</h2>

        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> {{ festival.id }}</li>
            <li class="list-group-item"><strong>Location:</strong> {{ festival.location }}</li>
            <li class="list-group-item"><strong>Start Date:</strong> {{ festival.startDate|date('Y-m-d') }}</li>
            <li class="list-group-item"><strong>End Date:</strong> {{ festival.endDate|date('Y-m-d') }}</li>
            <li class="list-group-item"><strong>Price:</strong> {{ festival.price }} RON</li>
        </ul>

        <a href="#" onclick="sessionStorage.removeItem('festivalStartIndex'); window.location.href='{{ path('festivals_list') }}'; return false;" class="btn btn-secondary mt-3">Back</a>
    </div>
{% endblock %}
