{% extends 'base.html.twig' %}

{% block title %}Utilizator - {{ user.email }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2 class="mb-4 text-primary-emphasis">{{ user.email }}</h2>

        <ul class="list-group">
            <li class="list-group-item"><strong>ID:</strong> {{ user.id }}</li>
            <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
            <li class="list-group-item"><strong>Role:</strong> {{ user.role }}</li>
            <li class="list-group-item"><strong>Token:</strong> {{ user.token }}</li>
        </ul>

        <a href="#" onclick="window.location.href='{{ path('users_list') }}'; return false;" class="btn btn-secondary mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5"/>
            </svg>
            Back
        </a>

        <form method="get" action="{{ path('user_delete', { id: user.id }) }}">
            <button class="btn btn-danger mt-3" onclick="return confirm('Ești sigur că vrei să ștergi acest utilizator?');">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                </svg>
                Delete
            </button>
        </form>
    </div>
{% endblock %}
